data/
7_haplotypes/data
7_haplotypes/.snakemake/
7_haplotypes/*.tsv
6_offchrom/analysis/*.png
6_offchrom/analysis/*.txt
6_offchrom/data/
6_offchrom/.snakemake/
5_dosage_with_pools/analysis/*.png
5_dosage_with_pools/analysis/*.txt
5_dosage_with_pools/data/
5_dosage_with_pools/.snakemake/
4_dihaploid_pools/analysis/*.png
4_dihaploid_pools/analysis/*.txt
4_dihaploid_pools/data/
4_dihaploid_pools/.snakemake/
3_dihaploid_sub_test/data
3_dihaploid_sub_test/.snakemake/
2_dosage/data/
2_dosage/.snakemake
2_dosage/analysis/*.txt
1_parent_snps/data/
1_parent_snps/.snakemake
1_parent_snps/analysis/*.tsv
ref/*fa*
